body {
    background-color: #800080; /* Purple background */
    color: white; /* White text color */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif; /* Set a default font */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Add this to your global CSS file */


